   /*
    *  File Name: login.css
    *
    *  Functionalities:
    *  1. Set the font size for the homepage
    *  2. Change the button size for the homepage
    */

body{
  font-size: 60px !important;
}
.btn-md{
  border-radius: 200px;
  padding: 40px 80px;
  font-size: 30px;
}
