.icon1{
  margin-left: 0%;
  /* float: center; */
  width:30%;
  margin-top:0px;
}

.info{
  margin-top:50px;
  width:50%;
  display:inline-block;
}

#myMap{
  margin-top:-1rem;
  position: relative;
  width:800px;
  height:550px;
}

.btn_white {
  background: white;
  color:#063a3a;
  font-size: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);

}
.container{
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  max-width:800px;
  margin:auto;
  height:620px;
  margin-top:17vh;
  padding:0;
  position:relative;
}

.btns{
  width: 800px;
  position: absolute;
  text-align: center;
  top:85%;
}
#routeInfoPanel{
  position: absolute;
  width: 800px;
  top: 78%;
  z-index:1;
}
.title{
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #fcfdfc;
  padding-bottom: 30px;
  padding-top: 10px;
  line-height: 1rem;
}

.title_bar{
  padding-top: 5px !important;
}

.position{
  margin-top:100px;
  float:center;
  /* margin-left: 350px; */
}

*{
  margin: 0;
  padding: 0;
}
body{
  background: url(../../images/bg.jpg);
  margin-bottom:40px;
}
