.icon1{
    margin-left: 250px;
    float: left;
    size:80%;
}

.info{
    margin-top:100px;
    width:100%;
    display:inline-block;
}

.requester{
    position:flex;
    margin-top:20px;
    margin-right: 200px;
    display: inline-block;
    float:right;
}

.complaint{
    margin-left:280px;
    margin-top:20px;
    margin-bottom:40px;
    float:left;
}

textarea{
    width:600px;
    height:200px;
    resize:none;
    margin-right: 175px;
    border: 2px solid #ccc;
    border-radius: 4px;

}

.text{
    float:right;
    margin-right:40px;
    padding-right:20px;

}

.btns{
    margin-top:250px;
    margin-left:930px;
}

button {

    background: #4CAF50;
    border-radius: 4px;
    border: 0;
    padding: 15px;
    margin:10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
