body {
  background: url(../../images/bg-02.jpg);

  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  margin-top: 6vh;
  color: #063a3a;
  font-family: "Montserrat", sans-serif;
}

.click{
  background-color: #1c5f5b;
}

.btn-reset{
  background-color: white;
}

.container{
  text-align: center;
}
.button{
  margin:2px;
}
.div_button{
  text-align: center;
}
 .containerb{
  background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 50vw;
    margin:auto;
    margin-top:90px;
    padding:0;
 }


 #title{
  font-family: "Roboto", sans-serif;
  text-align:center;
  color: #fcfdfc;
  padding-bottom: 25px;
 }

 .btn{
  background: #4CAF50;
    border-radius: 4px;
    border: 0;
    padding: 15px;
    margin:15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;

 }

 .btn_white {
    background: white;
    color:#063a3a;
    font-size: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);

 }
