*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{background:#f2f2f2;font:12px/180% Arial, Helvetica, sans-serif;}
.stepInfo{position:relative;background:#f2f2f2;margin:20px auto 0 auto;width:500px;top:10%}
.stepInfo li{float:left;width:90%;height:0.15em;background:#bbb;}
.stepIco{border-radius:2em;padding:1.3em;background:#bbb;text-align:center;line-height:1.em;color:#fff; position:absolute;width:2.4em;height:2.4em;}
.stepIco11{top:-0.5em;left:-1%;background:#666;}
.stepIco12{top:-0.5em;left:48%;}
.stepIco13{top:-0.5em;left:95%;}
.stepIco21{top:-0.5em;left:-1%;background:#666;}
.stepIco22{top:-0.5em;left:48%;background:#666;}
.stepIco23{top:-0.5em;left:95%;}
.stepIco31{top:-0.5em;left:-1%;background:#666;}
.stepIco32{top:-0.5em;left:48%;background:#666;}
.stepIco33{top:-0.5em;left:95%;background:#666;}

.stepText{color:#666;margin-top:0.2em;width:4em;text-align:center;margin-left:-1.8em;}


.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar{
  padding-top: .8rem;
  padding-bottom: .8rem;
  background-color: #05ffb0;
}
.container{
  text-align: center;
}

.button{
  padding-left: 1%;
  padding-right: 1%;

}

.div_button{
  text-align: center;
}
