*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{background:#f2f2f2;font:12px/180% Arial, Helvetica, sans-serif;}
.stepInfo{position:relative;background:#f2f2f2;margin:60px auto 0 auto;width:500px;top:10%}
.stepInfo li{float:left;width:90%;height:0.15em;background:#bbb;}
.stepIco{border-radius:2em;padding:1.3em;background:#bbb;text-align:center;line-height:1.em;color:#fff; position:absolute;width:2.4em;height:2.4em;}
.stepIco11{top:-0.5em;left:-1%;background:#666;}
.stepIco12{top:-0.5em;left:48%;}
.stepIco13{top:-0.5em;left:95%;}
.stepIco21{top:-0.5em;left:-1%;background:#666;}
.stepIco22{top:-0.5em;left:48%;background:#666;}
.stepIco23{top:-0.5em;left:95%;}
.stepIco31{top:-0.5em;left:-1%;background:#666;}
.stepIco32{top:-0.5em;left:48%;background:#666;}
.stepIco33{top:-0.5em;left:95%;background:#666;}

.stepText{color:#666;margin-top:0.2em;width:4em;text-align:center;margin-left:-1.8em;}

body{
  background: url(../../images/bg-02.jpg);
  background-size:100%;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar{
  overflow: hidden;
  padding-top: .8rem;
  padding-bottom: .8rem;
  background-color: #05ffb0;
}
.zsy{
  position: absolute;
  right: -150px;
  top: -40px;
}

#container{
  position: absolute;
  top: 37rem;
  text-align: center;
  width: 100%;
}

.info{
    width:100%;
    display:inline-block;
}

#myMap-match {
  position: relative;
  width: 52rem;
  height: 35rem;
  margin-left: auto;
  margin-right: auto;
}

#video {
  position: absolute;
  top: 39rem;
  text-align: center;
  width: 100%;
}

#cancelbtn {
  position: absolute;
  top: 75rem;
  text-align: center;
  width: 100%;
}

#finish_btn {
  position: absolute;
  top: 75rem;
  text-align: center;
  width: 800px;
}

/* .button{
  background: #4CAF50;
  border-radius: 4px;
  border: 0;
  padding: 15px;
  margin:20px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;

} */



.div_button{
  text-align: center;
}

.container1{
  background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    max-width:800px;
    margin:auto;
    height:75rem;
    margin-top:100px;

}

#name{
  font-family: "Roboto", sans-serif;
    text-align:center;
    color: #fcfdfc;
    padding-bottom: 25px;
}

.box{
  margin-top:20px;
      padding-top: 35px;
      background:url(../../images/bgcolor.PNG);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.textstyle{
  margin-top:100px;
  text-align:center;
  font-family: "Roboto", sans-serif;
  font-size:50px;
}

.btn{
  padding-top: 120px;
  margin:330px;
  margin-top:60px;
}
//
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover, .dropbtn {
    background-color: #white;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
//
